{% extends 'base.html' %}
{% block title %}
<title>Mi cuenta</title>
{% endblock %}

{% block content %}

<div class="grid">
    {% include 'partials/navbar.html' %}

    <div class="wrapper">
        <div class="account-header">
            <h1 class="account-title">Bienvenid@, <span class="underline">{{user.name}}</span></h1>
        </div>


        <div class="search">


            <h3 class="content-title">Quizzes</h3>

            <form class="search-form" action="" method='get'>
                {% include 'partials/alerts.html' %}
                {% csrf_token %}
                <select class="input" name="search-options" id="quiz-search-options">
                    <option selected disabled>Seleccione una opción</option>
                    {% if option == 'all' %}
                    <option value="all" selected>Todos</option>
                    {% else %}
                    <option value="all">Todos</option>
                    {% endif %}
                    {% if option == 'host' %}
                    <option value="host" selected>Quizzes creados por mí</option>
                    {% else %}
                    <option value="host">Quizzes creados por mí</option>
                    {% endif %}
                    {% if option == 'participant' %}
                    <option value="participant" selected>Quizzes jugados</option>
                    {% else %}
                    <option value="participant">Quizzes jugados</option>
                    {% endif %}
                </select>
                <div class="search-field">
                    <i class="fas fa-search"></i>
                    <input id="search_query" class="input" type="text" placeholder="Buscar quiz ..." name="search_query"
                        value="{{search_query}}">
                </div>
            </form>



            <div class="results">
                {% for quiz in quizzes  %}

                <div class="quiz">
                    <div class="left-box">
                        {% if quiz.host == user %}
                        <a href="{% url 'start_quiz' quiz.id %}" class="quiz-name">{{quiz.name}}</a>
                        <p class="quiz-pin">Pin {{quiz.pin}}</p>
                        {% else %}
                        <a href="{% url 'join_quiz' %}" class="quiz-name">{{quiz.name}}</a>
                        {% endif %}
                        {% if quiz.topic %}
                        <p class="quiz-topic">{{quiz.topic}}</p>
                        {% endif %}
                        <p class="quiz-host">creado por {{quiz.host.username}}</p>
                    </div>

                    {% if quiz.host == user %}
                    <div class="right-box">
                        <a href="{% url 'edit_quiz' quiz.id %}" class="edit-quiz" title="Editar quiz"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <p>No hay quizzes para mostrar</p>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

</div>


{% endblock %}