{% extends 'base.html' %}

{% block title %}
<title>Create Quiz</title>
{% endblock title %}


{% block content %}

<div class="grid">
    {% include 'partials/navbar.html' %}
    <div id="create-quiz" class="wrapper">
        <h3>Create Quiz</h3>
        <form action="" class="form" method='post'>

            {% include 'partials/alerts.html' %}
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn submit-btn" value="Save">
        </form>
    </div>
    {% include 'partials/footer.html' %}
</div>

{% endblock  %}