{% extends 'base.html' %}

{% block title %}
<title>Editar Quiz</title>
{% endblock %}



{% block content %}


<div class="grid">

    {% include 'partials/navbar.html' %}

    <div id="edit-quiz-layout" class="wrapper">

        <div class="edit-quiz">

            <form action="" class="form" method="post">

                {% csrf_token %}
                <h3>Pin del quiz: {{quiz.pin}}</h3>
                <label for="name">Nombre</label>
                {{quiz_form.name}}
                <label for="input">Categoría</label>
                {{quiz_form.topic}}
                <div>
                    <input type="submit" class="btn" value='Actualizar' name="edit-quiz">
                    <button id="delete-quiz" class="btn">Eliminar</button>
                </div>

            </form>

            <div class="heading-box">
                <p class="heading">Preguntas</p>
                <a id='reset-question-form' title="Nueva pregunta"><i class="fa-solid fa-plus"></i></a>
            </div>

            <div class="questions">
                {% for question in questions  %}
                <div class="question" data-question="{{question.id}}">
                    <p class="question-text">{{question}}</p>
                </div>
                {% empty %}
                <p>Sin preguntas</p>
                {% endfor %}
            </div>

        </div>
        <div class="box">
            <form action="" class="question-form form" method="post">
                {% include 'partials/alerts.html' %}
                {% csrf_token %}
                <label for="question">Pregunta</label>
                {{question_form.question}}
                <label for="choice_a">Posible respuesta: A</label>
                {{question_form.choice_A}}
                <label for="choice_b">Posible respuesta: B</label>
                {{question_form.choice_B}}
                <label for="choice_c">Posible respuesta: C</label>
                {{question_form.choice_C}}
                <label for="choice_d">Posible respuesta: D</label>
                {{question_form.choice_D}}
                <label for="answer_key">Respuesta correcta</label>
                {{question_form.answer_key}}
                <label for="points">Puntos</label>
                {{question_form.points}}
                <label for="seconds">Tiempo límite en segundos</label>
                {{question_form.seconds}}

                <div class="cta-btns">
                    <input id="add-question" type="submit" class="btn" value='Añadir pregunta' name="add-question">
                    <button id="edit-question" class="btn hidden" data-question>Actualizar</button>
                    <button id="delete-question" class="btn hidden" data-question>Eliminar</button>
                </div>


            </form>

        </div>

        <dialog class="modal" data-quiz={{quiz.id}}>
            <div class="modal-header">
                <p>¿Está segur@ de eliminar este quiz?</p>
            </div>
            <div class="modal-cta">
                <button id="cancel" class="modal-button">Cancelar</button>
                <button id="confirm" class="modal-button">Confirmar</button>
            </div>
        </dialog>
    </div>
</div>


{% endblock content %}