{% extends 'base.html' %}
{% block title %}
<title>Quiz en línea</title>
{% endblock title %}

{% block content %}
<div class="grid">

    {% include 'partials/navbar.html' %}
    <div id="live-quiz" class="wrapper" data-quiz="{{quiz.id}}">
        <div class=" message">

            {% if quiz and quiz.is_active == 1 %}
            <div class="message-body">
                <h1 class="message-title">Hola, <span id="participant-name"
                        class="underline">{{participant.name}}</span>
                </h1>
                <p id="message-1">Atent@ a la próxima pregunta.</p>

                <a id="next-btn" class="btn transparent-white-btn">Continuar</a>
            </div>
            {% else %}
            <div class="message-body">
                <h1 class="message-title">Adiós, <span id="participant-name"
                        class="underline">{{participant.name}}</span>
                </h1>
                <p id="message-1">Este quiz ha terminado</p>
                <p id="message-2">Hasta la próxima</p>
            </div>

            {% endif %}


        </div>

        <div class="live-question hidden" data-question="{{question.id}}" data-pin="{{quiz.pin}}"
            data-participant="{{participant.id}}">
            <h3>Quiz: {{quiz.name}}</h3>
            <div class="question-box">
                <div class="question-header">
                    <p>Pregunta <span id="question-num">{{question.number}}</span></p>
                    <p id="question-timer" data-time="{{question.seconds}}">{{question.seconds}} <span>seg</span></p>
                </div>
                <div class="question-text">
                    <p>{{question.question}}</p>
                </div>
            </div>
            <div class="question-choices">
                <div id="a" class="choice">
                    <div id="choice-a" class="choice-letter">
                        <p>A</p>
                    </div>
                    <div id="text-a" class="choice-text">
                        <p>{{question.choice_A}}</p>
                    </div>
                </div>
                <div id="b" class="choice">
                    <div id="choice-b" class="choice-letter">
                        <p>B</p>
                    </div>
                    <div id="text-b" class="choice-text">
                        <p>{{question.choice_B}}</p>
                    </div>
                </div>
                <div id="c" class="choice">
                    <div id="choice-c" class="choice-letter">
                        <p>C</p>
                    </div>
                    <div id="text-c" class="choice-text">
                        <p>{{question.choice_C}}</p>
                    </div>
                </div>
                <div id="d" class="choice">
                    <div id="choice-d" class="choice-letter">
                        <p>D</p>
                    </div>
                    <div id="text-d" class="choice-text">
                        <p>{{question.choice_D}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}