{% extends 'base.html' %}

{% block title %}
<title>Crear cuenta</title>
{% endblock %}

{% block content %}

<div class="grid">
    {% include 'partials/navbar.html' %}

    <div id="registration" class="wrapper">


        <form id="register-form" class="form" action="" method='post'>
            <h1>Registrarse</h1>
            {% include 'partials/alerts.html' %}
            {% csrf_token %}
            {{form}}
            <a class="redirect-link link" href="{% url 'index' %}">Ya tengo una cuenta</a>
            <input class="btn submit-btn" type="submit" name="register" value="Crear cuenta">
        </form>

    </div>

    {% include 'partials/footer.html' %}
</div>

{% endblock %}