{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Puntuaciones</title>
{% endblock title %}


{% block content %}

<div class="grid">

  
    {% include 'partials/navbar.html' %}

    <div id="scoreboard-container" class="wrapper">

        <a class="back-btn" href="{% url 'start_quiz' quiz.id %}" title="Atrás">&#8617;</a>
        <a id="expand-btn" title="Pantalla completa"><i class="fa-solid fa-expand"></i></a>

        <section class="scoreboard" data-quiz={{quiz}}>

            <h1>Puntuaciones</h1>
            <h3 class='quiz-name'>{{quiz.name}}</h3>

            <div class="image">
                <img src="{% static 'images/scoreboard.svg' %}" alt="trophy image">
            </div>

            <div class="participant-list">
                {% for score in scores %}

                {% if score.score == top_score %}
                <div class="participant top-score" data-color="{{score.participant.account_color}}">
                    <div class="participant-info">
                        <div class="place-circle">
                        </div>
                        <p class=" participant-name">{{score.participant.name}}</p>
                    </div>
                    <div class="participant-score">
                        <p class="participant-points">{{score.score}} ptos</p>
                        <p class="participant-time">{{score.time}} seg</p>
                        <p class="correct-answers" title="Respuestas correctas">{{score.correct_answers}} &#x2713;</p>
                        <p class="wrong-answers" title="Respuestas incorrectas">{{score.wrong_answers}} &#x2717;</p>
                    </div>
                </div>
                {% else %}
                <div class="participant" data-color="{{score.participant.account_color}}">
                    <div class="participant-info">
                        <div class="place-circle">
                        </div>
                        <p class=" participant-name">{{score.participant.name}}</p>
                    </div>
                    <div class="participant-score">
                        <p class="participant-points">{{score.score}} ptos</p>
                        <p class="participant-time">{{score.time}} seg</p>
                        <p class="correct-answers" title="Respuestas correctas">{{score.correct_answers}} &#x2713;</p>
                        <p class="wrong-answers" title="Respuestas incorrectas">{{score.wrong_answers}} &#x2717;</p>
                    </div>
                </div>
                {% endif %}

                {% empty %}
                <p class="empty-list">No hay participantes</p>
                {% endfor %}
            </div>



        </section>

    </div>




</div>

{% endblock content %}