asgiref==3.6.0
dj-database-url==2.0.0
Django==4.2.1
django-csp==3.7
gunicorn==20.1.0
json5==0.9.14
pathspec==0.11.1
psycopg2-binary==2.9.6
python-decouple==3.8
sqlparse==0.4.4
tqdm==4.65.0
tzdata==2023.3
whitenoise==6.4.0
