@use 'variables' as *;

html {
	font-size: 100%;
}

body {
	overflow-x: hidden;
	font-family: $font-family;
	background-color: $base-color;
	color: $text-color;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	transition: 0.2s linear;
}

*::selection {
	background-color: $secondary-color;
	color: $white-color;
	font-weight: $font-regular;
}

.text {
	resize: none;
}

li {
	list-style-type: none;
}

.hidden {
	display: none;
}
