// Colors
$base-color: #f9f7f7;
$primary-color: #dbe2ef;
$secondary-color: #3f72af;
$complementary-color: #c6f4a2;
$text-color: #5f5f5f;
$white-color: #fff;
$choice-a: #af3f72;
$choice-b: #f1a661;
$choice-c: #723faf;
$choice-d: #72af3f;
$error-color: #f47c7c;
$success-color: #72af3f;

// Fonts
$font-family: 'Inter', sans-serif;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;
$font-thin: 100;

// Line height
$line-height: 1.5rem;

// Border radius
$border-radius: 2px;

// Shadows
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Sizes
$big: 2.5rem;
$medium: 1.5rem;
$small: 1rem;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 960px;
$breakpoint-laptop: 1200px;
