@use '../abstracts/abstracts' as *;

.hero-section {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background-color: $primary-color;
	border-radius: 0 0 50px 50px;

	.hero-image {
		width: 70%;
		margin-bottom: $medium;

		.image {
			width: 100%;
			height: 100%;
		}
	}
}
