@use '../abstracts/abstracts' as *;

#start-quiz {
	gap: $medium;
	padding: $medium 0;
	overflow-y: scroll;

	.questions-panel {
		display: flex;
		flex-direction: column;
		gap: $small;
		width: 90%;

		.questions {
			max-height: 500px;
			overflow-y: auto;
			padding: 0.5rem;

			.start-question {
				margin-bottom: 0.5rem;
				border-radius: $border-radius;
				padding: $small;
				box-shadow: $box-shadow;
				cursor: pointer;

				&:hover {
					background-color: $primary-color;
				}

				&-text {
					line-height: $line-height;
				}
			}
		}
	}

	.active-question {
		display: flex;
		flex-direction: column;
		gap: $small;
		width: 90%;
		height: 100%;

		@media screen and (min-width: $breakpoint-tablet) {
			padding: $medium;
		}

		.question-box {
			width: 100%;
			height: fit-content;
			border: 1px solid $primary-color;

			.question-header {
				display: flex;
				justify-content: space-between;
				padding: 0.5rem $small;
				background-color: $secondary-color;

				p {
					color: $white-color;
					font-weight: $font-bold;
				}

				.right {
					display: flex;
					gap: 0.5rem;
					width: fit-content;

					#time-limit {
						color: $error-color;
					}
				}
			}

			.question-text {
				padding: $small;
				background-color: $white-color;
			}
		}

		.question-choices {
			display: flex;
			flex-direction: column;
			gap: $small;

			.choice {
				display: flex;
				align-items: center;
				border: 1px solid $primary-color;

				&-letter {
					width: 5%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: $small;

					p {
						color: $white-color;
					}
				}

				#choice-a {
					background-color: $choice-a;
				}

				#choice-b {
					background-color: $choice-b;
				}

				#choice-c {
					background-color: $choice-c;
				}

				#choice-d {
					background-color: $choice-d;
				}

				&-text {
					width: 95%;
					height: 100%;
					padding: $small;
					background-color: $white-color;
				}
			}
		}

		.cta-section {
			margin: 0 0 $small;

			button:disabled {
				// background-color: $base-color;
				// color: $text-color;
				cursor: default;
				opacity: 20%;

				&:hover {
					border: none;
				}
			}

			#end-quiz {
				background-color: $error-color;

				&:hover {
					color: $error-color;
					background-color: transparent;
					outline: 1px solid $error-color;
				}
			}

			#scoreboard {
				background-color: $text-color;

				&:hover {
					color: $text-color;
					background-color: transparent;
					outline: 1px solid $text-color;
				}
			}

			@media screen and (min-width: $breakpoint-mobile) {
				button {
					width: fit-content;
				}
			}
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		.questions-panel {
			width: 30%;
		}

		.active-question {
			width: 40%;
		}
	}
}
