@use '../abstracts/abstracts' as *;

.messages {
	padding-top: 2rem;
	text-align: center;
	padding-top: 0;

	li {
		padding: $small;
	}
}

.success {
	background-color: $success-color;
	color: $white-color;
}

.error {
	background-color: $error-color;
	color: $white-color;
}
