@use '../abstracts/abstracts' as *;

.header {
	display: flex;
	flex-direction: column;

	.title {
		color: $secondary-color;
		font-weight: $font-bold;
		font-size: $medium;
	}

	.subtitle {
		margin-top: 0.5rem;
		font-size: 1.2rem;
	}
}
